<launch>
    <arg name="veh" doc="Name of vehicle" default="edgecar" />
    <arg name="config" default="baseline" />
    <arg name="param_file_name" default="megaman" />
    
     <include file="$(find camera_driver)/launch/camera_node.launch">
        <arg name="veh" value="$(arg veh)"/>
        <arg name="config" value="$(arg config)"/>
        <arg name="param_file_name" value="$(arg param_file_name)"/>
    </include>

    <include file="$(find wheels_driver)/launch/wheels_driver_node.launch">
        <arg name="veh" value="$(arg veh)" />
        <arg name="config" value="$(arg config)" />
        <arg name="param_file_name" value="$(arg param_file_name)" />
        
    </include>

    <include file="$(find joystick_driver)/launch/joy_node.launch" >
        <arg name="veh" value="$(arg veh)" />
        <arg name="config" value="$(arg config)" />
        <arg name="param_file_name" value="$(arg param_file_name)" />
    </include>

    <include file="$(find storage)/launch/storage.launch" >
        <arg name="veh" value="$(arg veh)" />
        <arg name="config" value="$(arg config)" />
        <arg name="param_file_name" value="$(arg param_file_name)" />
    </include>

    <include file="$(find joy_mapper)/launch/joy_mapper_node.launch">
        <arg name="veh" value="$(arg veh)" />
        <arg name="config" value="$(arg config)" />
        <arg name="param_file_name" value="$(arg param_file_name)"/>
    </include>    
</launch>
